OWNER_NAME="𝗔𝗙𝗧𝗔𝗕 𝗔𝗛𝗠𝗔𝗗 💗"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://static.animecorner.me/2023/08/op2.jpg"
NUMERO_OWNER= "923252200592"
OWNER_NAME= "᚛𝗔𝗙𝗧𝗔𝗕 𝗔𝗛𝗠𝗔𝗗 💗᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
